@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background-image: url("image/BackHeader.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.header .header__up {
  height: 70px;
  background: #194277;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 550px) {
  .header .header__up {
    padding: 0 20px 0;
  }
}
.header .header__accept {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: white;
}
@media screen and (max-width: 380px) {
  .header .header__accept {
    font-size: 10px;
  }
}
.header .header__a {
  text-decoration: none;
  width: 110px;
  height: 30px;
  background: white;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #194277;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
@media screen and (max-width: 380px) {
  .header .header__a {
    width: 80px;
    height: 25px;
    font-size: 12px;
    margin-left: 30px;
  }
}
.header .header__a:hover {
  background: #4095FF;
  color: white;
}
.header .header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  margin-top: 110px;
  margin-bottom: 70px;
}
@media screen and (max-width: 380px) {
  .header__logo {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

.header__free {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.025em;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 40px;
}
@media screen and (max-width: 1125px) {
  .header__free {
    font-size: 30px;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 380px) {
  .header__free {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

.header__lorem {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.025em;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin: 0 auto 75px;
}
@media screen and (max-width: 1125px) {
  .header__lorem {
    font-size: 12px;
    letter-spacing: 0;
  }
}
@media screen and (max-width: 600px) {
  .header__lorem {
    margin: 0 15px 40px 15px;
  }
}
@media screen and (max-width: 380px) {
  .header__lorem {
    font-size: 12px;
    line-height: 15px;
  }
}

.header__hire {
  width: 205px;
  height: 55px;
  background: white;
  border-radius: 30px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 0.025em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #4095FF;
  margin-top: 0;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 380px) {
  .header__hire {
    width: 130px;
    height: 42px;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.header__hire:hover {
  background: #194277;
  color: white;
}

.label__hire {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 205px;
  height: 55px;
  background: white;
  color: #4095FF;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
}

.pop_up_form {
  display: none;
  position: fixed;
  top: 110px;
  margin: 0 auto;
  background: white;
  max-width: 40.7%;
  height: 625px;
  border-radius: 15px;
}
.pop_up_form input:nth-of-type(2) {
  padding-left: 20px;
  width: 61.42%;
  height: 50px;
  border: 1px solid;
  border-radius: 20px;
  border-color: #b7c0c9;
  font-size: 16px;
  color: #b7c0c9;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  outline: none;
}
.pop_up_form input:nth-of-type(3) {
  padding-left: 20px;
  width: 61.42%;
  height: 50px;
  border: 1px solid;
  border-radius: 20px;
  border-color: #b7c0c9;
  font-size: 16px;
  color: #b7c0c9;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  outline: none;
}
.pop_up_form input:nth-of-type(4) {
  padding-left: 20px;
  width: 61.42%;
  height: 180px;
  border: 1px solid;
  border-radius: 20px;
  border-color: #b7c0c9;
  font-size: 16px;
  color: #b7c0c9;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  outline: none;
}
.pop_up_form input::placeholder {
  opacity: 0.7;
}
.pop_up_form input:active {
  border: none;
}
.pop_up_form .label__close {
  margin-top: 12px;
  margin-left: 765px;
}
.pop_up_form .btnn {
  margin-top: 10px;
  width: 205px;
  height: 55px;
  background: #4095FF;
  color: white;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  outline: none;
}
.pop_up_form .input__close {
  display: none;
}
.pop_up_form form label:nth-child(1) {
  margin-top: 12px;
  margin-left: 765px;
}
.pop_up_form p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-top: 20px;
  font-size: 50px;
  color: #4095FF;
  margin-bottom: 60px;
}
@media screen and (max-width: 900px) {
  .pop_up_form p {
    margin-bottom: 20px;
  }
}

#close:checked + .pop_up_form {
  display: none;
}

#hire {
  display: none;
}

#hireme {
  display: none;
}

input.btn:checked + .pop_up_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__img {
  margin-bottom: 30px;
  margin-top: 100px;
}

.menu-pop-up {
  max-width: 1173px;
  border-radius: 9px;
  margin: 0 auto;
  background: none;
  position: fixed;
  top: 9vh;
  right: 20.675vw;
}
input:checked ~ .menu-pop-up {
  background: white;
}
@media screen and (max-width: 400px) {
  .menu-pop-up {
    top: 12vh;
    right: 14vw;
  }
}

.menu-pop-up__main {
  display: none;
}
input:checked ~ .menu-pop-up__main {
  display: flex;
  flex-direction: column;
  width: 58.65%;
  height: 660px;
  background: #ffffff;
  overflow: auto;
  border-radius: 0 0 9px 9px;
  position: fixed;
  top: 13vh;
  right: 20.675vw;
}
@media screen and (max-width: 700px) {
  input:checked ~ .menu-pop-up__main .menu-pop-up__main__lang {
    margin-top: 25px;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  input:checked ~ .menu-pop-up__main .menu-pop-up__main__lang {
    margin-top: 25px;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  input:checked ~ .menu-pop-up__main {
    height: 420px;
  }
  input:checked ~ .menu-pop-up__main .menu-pop-up__main__social {
    height: 30px;
    margin-top: 30px;
  }
  input:checked ~ .menu-pop-up__main .menu-pop-up__main__list a {
    font-size: 25px;
  }
  input:checked ~ .menu-pop-up__main .menu-pop-up__main__lang {
    margin-top: 20px;
    justify-content: center;
  }
  input:checked ~ .menu-pop-up__main .menu-pop-up__main__social--a {
    margin-right: 2px;
    margin-left: 2px;
  }
  input:checked ~ .menu-pop-up__main .menu-pop-up__main__line {
    margin-top: 30px;
  }
}
@media screen and (max-width: 400px) {
  input:checked ~ .menu-pop-up__main {
    width: 70%;
    height: 420px;
    top: 18vh;
    right: 15vw;
  }
  input:checked ~ .menu-pop-up__main .menu-pop-up__main__social {
    margin-top: 30px;
  }
  input:checked ~ .menu-pop-up__main .menu-pop-up__main__list a {
    font-size: 25px;
  }
  input:checked ~ .menu-pop-up__main .menu-pop-up__main__lang {
    margin-top: 20px;
    justify-content: center;
  }
  input:checked ~ .menu-pop-up__main .menu-pop-up__main__social--a {
    margin-right: 2px;
    margin-left: 2px;
  }
  input:checked ~ .menu-pop-up__main .menu-pop-up__main__line {
    margin-top: 30px;
  }
}

#hamburger {
  display: none;
}
#hamburger + label {
  display: flex;
  width: 42px;
  height: 42px;
}
#hamburger + label span {
  width: 30px;
  height: 3px;
  background: #ffffff;
  display: block;
  position: relative;
  margin: auto;
  transition: 0.4s;
}
#hamburger + label span:before, #hamburger + label span:after {
  transition: 0.4s;
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  display: block;
  background: #ffffff;
}
#hamburger + label span:before {
  top: -10px;
}
#hamburger + label span:after {
  bottom: -10px;
}
#hamburger:checked + label span {
  background: transparent;
  transform: rotate(180deg);
}
#hamburger:checked + label span:before, #hamburger:checked + label span:after {
  top: 50%;
  bottom: initial;
  width: 110%;
  background: #ffffff;
}
#hamburger:checked + label span:before {
  transform: rotate(45deg);
}
#hamburger:checked + label span:after {
  transform: rotate(-45deg);
}

.menu-pop-up__main__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-pop-up__main__list a {
  text-decoration: none;
  color: #E1E1E1;
  font-size: 50px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}
.menu-pop-up__main__list a:hover {
  color: #3677fd;
}

.menu-pop-up__main__list--item {
  margin-top: 35px;
}

.menu-pop-up__main__line {
  margin: 75px auto 0;
  border: 1px solid #E1E1E1;
  width: 34.1005967604%;
  background: #E1E1E1;
}

.menu-pop-up__main__social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51px;
  margin-top: 78px;
}

.menu-pop-up__main__social--a {
  margin-right: 14px;
  margin-left: 14px;
}

.menu-pop-up__main__social--a--svg {
  fill: #E1E1E1;
  width: 51px;
  height: 51px;
}
.menu-pop-up__main__social--a--svg:hover {
  fill: #3677fd;
}

.menu-pop-up__main__lang {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #E1E1E1;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-top: 18px;
  margin-bottom: 15px;
}
.menu-pop-up__main__lang:hover {
  color: #3677fd;
}

.menu-pop-up__main__lang--svg {
  width: 67px;
  height: 33px;
  margin-right: 10px;
}

/*-------section About Me---------*/
.about {
  background: #ffffff;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.about__heading {
  font-weight: 300;
  font-size: 50px;
  color: #3677fd;
  margin: 85px 50px 47px;
}
@media screen and (max-width: 1300px) {
  .about__heading {
    font-size: 57px;
  }
}
@media screen and (max-width: 425px) {
  .about__heading {
    font-size: 37px;
  }
}
.about__text {
  color: #adadad;
  font-weight: 600;
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 112px;
}
@media screen and (max-width: 1300px) {
  .about__text {
    font-size: 20px;
    line-height: 40px;
    padding: 0 50px 0;
  }
}
@media screen and (max-width: 425px) {
  .about__text {
    font-size: 16px;
    line-height: 32px;
    padding: 0 35px 0;
  }
}

/*-------section Expert In---------*/
.expert {
  background: #f1f8ff;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.expert__heading {
  color: #3677fd;
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 110px;
  padding-top: 83px;
}
@media screen and (max-width: 1300px) {
  .expert__heading {
    font-size: 57px;
  }
}
@media screen and (max-width: 425px) {
  .expert__heading {
    font-size: 37px;
    margin-bottom: 60px;
    padding-top: 35px;
  }
}

.cards-expert {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 1300px) {
  .cards-expert {
    padding: 0 50px 0;
  }
}
@media screen and (max-width: 425px) {
  .cards-expert {
    padding: 0 35px 0;
  }
}
.cards-expert__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  padding: 15px;
}
@media screen and (max-width: 1300px) {
  .cards-expert__card {
    padding: 30px;
  }
}
.cards-expert__img {
  border: 1px solid #b7c0c9;
  border-radius: 50%;
  width: 144px;
  height: 144px;
}
.cards-expert__img:hover {
  background: #ffff;
  transition: all 0.3s;
  border: 1px solid #3677fd;
}
.cards-expert__heading {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #3677fd;
  text-decoration: none;
  cursor: pointer;
  display: block;
  margin: 32px auto 0;
}
.cards-expert__heading:hover {
  color: #6094ff;
  transition: all 0.2s;
}
@media screen and (max-width: 425px) {
  .cards-expert__heading {
    font-size: 20px;
  }
}
.cards-expert__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #5a5a5a;
  min-height: 135px;
  margin: 0 0 52px 0;
}
@media screen and (max-width: 1300px) {
  .cards-expert__text {
    font-size: 20px;
    line-height: 36px;
  }
}
@media screen and (max-width: 425px) {
  .cards-expert__text {
    font-size: 16px;
    line-height: 32px;
  }
}

.cards-expert__ico {
  padding-top: 28%;
}

/*-------section Latest Works---------*/
.latest {
  background: #ffff;
  margin: 0 auto;
}
.latest .latest__img {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}
@media screen and (max-width: 425px) {
  .latest .latest__img {
    display: flex;
    flex-direction: column;
  }
  .latest .latest__img .latest__images {
    width: 330px;
  }
  .latest .latest__img .latest__images:hover {
    box-shadow: 3px 5px 34px -2px rgba(0, 0, 0, 0.36);
  }
}
@media screen and (max-width: 1100px) {
  .latest .latest__img {
    justify-content: center;
  }
}
.latest .latest__img .latest__images {
  margin-bottom: 55px;
}
.latest .latest__img .latest__images:nth-child(2) {
  margin-left: 30px;
  margin-right: 30px;
}
.latest .latest__img .latest__images:nth-child(5) {
  margin-left: 30px;
  margin-right: 30px;
}
.latest .latest__img .latest__images:hover {
  box-shadow: 3px 5px 34px -2px rgba(0, 0, 0, 0.36);
}
.latest .latest__text {
  color: #469dff;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  padding-bottom: 90px;
  font-weight: 300;
  text-align: center;
  margin-top: 50px;
}
@media screen and (max-width: 425px) {
  .latest .latest__text {
    font-size: 37px;
  }
}

/*-------section Clients---------*/
.client {
  background: #F1F8FF;
  margin: 0 auto;
}
.client #clients {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #3871FD;
  padding-top: 90px;
  font-size: 50px;
}
.client .clients {
  max-width: 1140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 10px 115px;
}
@media screen and (max-width: 1000px) {
  .client .clients {
    padding-bottom: 70px;
    flex-direction: column;
  }
  .client .clients a {
    margin-bottom: 55px;
  }
}
@media screen and (max-width: 600px) {
  .client .clients {
    padding-bottom: 55px;
  }
}
@media screen and (max-width: 450px) {
  .client .clients {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .client .clients__img {
    max-width: 100%;
    height: 100%;
  }
}
.client .clients__a1:hover {
  transform: skew(-10deg);
}

/*-------Footer---------*/
footer {
  background-image: url("image/footer.png");
  background-size: cover;
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
footer .foot {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1140px) {
  footer p {
    font-size: 50px;
  }
}
@media screen and (max-width: 1010px) {
  footer p {
    font-size: 35px;
  }
}
@media screen and (max-width: 800px) {
  footer p {
    font-size: 25px;
    margin-left: 10px;
  }
}
footer span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
footer .a__a {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #3871FD;
  background: white;
  text-decoration: none;
  border-radius: 50px;
  width: 204px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
@media screen and (max-width: 1010px) {
  footer .a__a {
    font-size: 13px;
    border-radius: 40px;
    width: 120px;
    height: 50px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 850px) {
  footer .a__a {
    font-size: 10px;
    border-radius: 40px;
    width: 110px;
    height: 40px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 380px) {
  footer .a__a {
    font-size: 8px;
    border-radius: 40px;
    width: 100px;
    height: 30px;
    margin-right: 10px;
  }
}
@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(-10px);
  }
}
footer .a__a:hover {
  animation: bounce 1s;
}

/*# sourceMappingURL=main.css.map */
