@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background-image: url("image/BackHeader.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.header .header__up {
  height: 70px;
  background: #194277;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__accept {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: white;
}
@media screen and (max-width: 380px) {
  .header .header__accept {
    font-size: 10px;
  }
}
.header .header__a {
  text-decoration: none;
  width: 110px;
  height: 30px;
  background: white;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #194277;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
@media screen and (max-width: 380px) {
  .header .header__a {
    width: 80px;
    height: 25px;
    font-size: 12px;
    margin-left: 30px;
  }
}
.header .header__a:hover {
  background: #4095FF;
  color: white;
}
.header .header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 380px) {
  .header .header__div {
    width: 95px;
    height: 95px;
  }
}
.header .header__logo {
  margin-top: 110px;
  margin-bottom: 70px;
}
@media screen and (max-width: 380px) {
  .header .header__logo {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
.header .header__free {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.025em;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 40px;
}
@media screen and (max-width: 380px) {
  .header .header__free {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
.header .header__lorem {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.025em;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin: 0 185px 75px 185px;
}
@media screen and (max-width: 380px) {
  .header .header__lorem {
    font-size: 12px;
    line-height: 15px;
    margin: 0 10px 40px 10px;
  }
}
.header .header__hire {
  width: 205px;
  height: 55px;
  background: white;
  border-radius: 30px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 0.025em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #4095FF;
  margin-top: 0;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 380px) {
  .header .header__hire {
    width: 130px;
    height: 42px;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 50px;
  }
}
.header .header__hire:hover {
  background: #194277;
  color: white;
}
.header .header__img {
  margin-bottom: 25px;
}


/*# sourceMappingURL=main.css.map */
