@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  margin: 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  background-image: url("image/BackHeader.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.header .header__up {
  height: 70px;
  background: #194277;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__accept {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: white;
}
@media screen and (max-width: 380px) {
  .header .header__accept {
    font-size: 10px;
  }
}
.header .header__a {
  text-decoration: none;
  width: 110px;
  height: 30px;
  background: white;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #194277;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
@media screen and (max-width: 380px) {
  .header .header__a {
    width: 80px;
    height: 25px;
    font-size: 12px;
    margin-left: 30px;
  }
}
.header .header__a:hover {
  background: #4095FF;
  color: white;
}
.header .header__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  margin-top: 110px;
  margin-bottom: 70px;
}
@media screen and (max-width: 380px) {
  .header__logo {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

.header__free {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.025em;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 40px;
}
@media screen and (max-width: 380px) {
  .header__free {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

.header__lorem {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.025em;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin: 0 185px 75px 185px;
}
@media screen and (max-width: 380px) {
  .header__lorem {
    font-size: 12px;
    line-height: 15px;
    margin: 0 10px 40px 10px;
  }
}

.header__hire {
  width: 205px;
  height: 55px;
  background: white;
  border-radius: 30px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 0.025em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #4095FF;
  margin-top: 0;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 380px) {
  .header__hire {
    width: 130px;
    height: 42px;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.header__hire:hover {
  background: #194277;
  color: white;
}

.header__img {
  margin-bottom: 25px;
}

.menu-pop-up {
  max-width: 1173px;
  border-radius: 9px;
  margin: 0 auto;
  background: none;
}

.menu-pop-up__main {
  display: none;
}
input:checked ~ .menu-pop-up__main {
  display: flex;
  flex-direction: column;
  width: 1173px;
  height: 655px;
  background: #ffffff;
  overflow: auto;
  border-radius: 0 0 9px 9px;
  position: absolute;
  z-index: 100;
}

#hamburger {
  display: none;
}
#hamburger + label {
  display: flex;
  padding-left: 1120px;
  padding-top: 20px;
  width: 42px;
  height: 42px;
}
#hamburger + label span {
  width: 30px;
  height: 3px;
  background: #ffffff;
  display: block;
  position: relative;
  margin: auto;
  transition: 0.4s;
}
#hamburger + label span:before, #hamburger + label span:after {
  transition: 0.4s;
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  display: block;
  background: #ffffff;
}
#hamburger + label span:before {
  top: -10px;
}
#hamburger + label span:after {
  bottom: -10px;
}
#hamburger:checked + label span {
  background: transparent;
  transform: rotate(180deg);
}
#hamburger:checked + label span:before, #hamburger:checked + label span:after {
  top: 50%;
  bottom: initial;
  width: 110%;
  background: #fd3654;
}
#hamburger:checked + label span:before {
  transform: rotate(45deg);
}
#hamburger:checked + label span:after {
  transform: rotate(-45deg);
}

.menu-pop-up__main__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-pop-up__main__list a {
  text-decoration: none;
  color: #E1E1E1;
  font-size: 50px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}
.menu-pop-up__main__list a:hover {
  color: #3677fd;
}

.menu-pop-up__main__list--item {
  margin-top: 35px;
}

.menu-pop-up__main__line {
  margin: 75px auto 0;
  border: 1px solid #E1E1E1;
  width: 34.1005967604%;
  background: #E1E1E1;
}

.menu-pop-up__main__social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51px;
  margin-top: 78px;
}

.menu-pop-up__main__social__a {
  margin-right: 14px;
  margin-left: 14px;
}

.menu-pop-up__main__social__a__svg {
  fill: #E1E1E1;
  width: 51px;
  height: 51px;
}
.menu-pop-up__main__social__a__svg:hover {
  fill: #3677fd;
}

.menu-pop-up__lang {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #E1E1E1;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-top: 18px;
  margin-bottom: 15px;
}
.menu-pop-up__lang:hover {
  color: #3677fd;
}

.menu-pop-up__lang__svg {
  width: 67px;
  height: 33px;
  margin-right: 10px;
}

/*# sourceMappingURL=main.css.map */
/* Danil-Plis*/
.s__client {
  background: #F1F8FF;
  margin: 0 auto;
}
.s__client .container {
  width: 1140px;
  margin: 0 auto;
}
.s__client .container article {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #3871FD;
  padding-top: 85px;
  font-size: 50px;
}
.s__client .container .s__clients {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 115px;
}

footer {
  background-image: url("img/footer.png");
  background-size: cover;
  height: 150px;
}
footer .container {
  width: 1140px;
  margin: 0 auto;
}
footer .foot {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
}
footer p span {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
footer a {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #3871FD;
  background: white;
  text-decoration: none;
  border-radius: 50px;
  width: 204px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
