@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
$colorBlue: #3677fd;
$mainFont: 'Lato', sans-serif;

body{
  margin: 0 auto;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
}
.header{
  background-image: url("image/BackHeader.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;

.header__up{
  height: 70px;
  background: #194277;
  display: flex;
  justify-content: center;
  align-items: center;

}
.header__accept{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: white;
  @media screen and (max-width: 380px){
    font-size: 10px;
  }
}
.header__a{
  text-decoration: none;
  width: 110px;
  height: 30px;
  background: white;
  border-radius: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #194277;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  @media screen and (max-width: 380px){
    width: 80px;
    height: 25px;
    font-size: 12px;
    margin-left: 30px;
  }
}
  .header__a:hover{
    background: #4095FF;
    color: white;
  }

.header__main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  }
.header__logo{
  margin-top: 110px;
  margin-bottom: 70px;
  @media screen and (max-width: 380px){
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
.header__free{
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.025em;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 40px;
  @media screen and (max-width: 380px){
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
.header__lorem{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.025em;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin: 0 185px 75px 185px;
  @media screen and (max-width: 380px){
    font-size: 12px;
    line-height: 15px;
    margin: 0 10px 40px 10px;}
}
.header__hire{
  width: 205px;
  height: 55px;
  background: white;
  border-radius: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 0.025em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #4095FF;
  margin-top: 0;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 380px){
    width: 130px;
    height: 42px;
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 50px;
  }
}
  .header__hire:hover{
    background: #194277;
    color: white;
  }

.header__img{
  margin-bottom: 25px;

}

//Гамбургер меню

.menu-pop-up {
  max-width: 1173px;
  border-radius: 9px;
  margin: 0 auto;
  background: none;
  position: fixed;
  top: 80px;
  right: 20.5vw;
}
.menu-pop-up__main {
  display: none;
  input:checked ~ & {
    display: flex;
    flex-direction: column;
    width: 1173px;
    height: 660px;
    background: #ffffff;
    overflow: auto;
    border-radius: 0 0 9px 9px;
    position: fixed;
    top: 120px;
    right: 20.5vw;
    @media screen and (max-width: 1800px) {
      width: 1000px;
    }
    @media screen and (max-width: 1700px) {
      width: 900px;
    }
    @media screen and (max-width: 1500px) {
      width: 800px;
    }
    @media screen and (max-width: 1300px) {
      width: 700px;
    }
    @media screen and (max-width: 1100px) {
      width: 600px;
    }
    @media screen and (max-width: 900px) {
      width: 500px;
    }
    @media screen and (max-width: 700px) {
      width: 350px;
    }
    @media screen and (max-width: 600px) {
      width: 330px;
    }
    @media screen and (max-width: 500px) {
      width: 300px;
      .menu-pop-up__main__line {
        display: none;
      }
      .menu-pop-up__main__lang {
        justify-content: center;
      }
    }
    @media screen and (max-width: 400px) {
      width: 250px;
      .menu-pop-up__main__social {
        height: 30px;
        margin-top: 20px;
      }
      .menu-pop-up__main__list a {
        font-size: 30px;
      }
      .menu-pop-up__main__line {
        display: none;
      }
      .menu-pop-up__main__lang {
        justify-content: center;
      }
      .menu-pop-up__main__social--a {
        margin-right: 2px;
        margin-left: 2px;
      }
    }
  }
}
#hamburger {
  display: none;
  & + label {
    display: flex;
    width: 42px;
    height: 42px;
    span {
      width: 30px;
      height: 3px;
      background: #ffffff;
      display: block;
      position: relative;
      margin: auto;
      transition: .4s;
      &:before, &:after {
        transition: .4s;
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        display: block;
        background: #ffffff;
      }
      &:before {
        top: -10px;
      }
      &:after {
        bottom: -10px;
      }
    }
  }
  &:checked + label {
    span {
      background: transparent;
      transform: rotate(180deg);
      &:before, &:after {
        top: 50%;
        bottom: initial;
        width: 110%;
        background: #ffffff;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
.menu-pop-up__main__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    text-decoration: none;
    color: #E1E1E1;
    font-size: 50px;
    font-weight: 300;
    font-family: $mainFont;
  }
  a:hover {
    color: $colorBlue;
  }
}
.menu-pop-up__main__list--item {
  margin-top: 35px;
}
.menu-pop-up__main__line {
  margin: 75px auto 0;
  border: 1px solid #E1E1E1;
  width: 400px/1173px*100%;
  background: #E1E1E1;
}
.menu-pop-up__main__social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51px;
  margin-top: 78px;
}
.menu-pop-up__main__social--a {
  margin-right: 14px;
  margin-left: 14px;
}
.menu-pop-up__main__social--a--svg {
  fill: #E1E1E1;
  width: 51px;
  height: 51px;
  &:hover {
    fill: $colorBlue;
  }
}
.menu-pop-up__main__lang {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #E1E1E1;
  font-family: $mainFont;
  font-weight: 300;
  margin-top: 18px;
  margin-bottom: 15px;
  &:hover {
    color: $colorBlue;
  }
}
.menu-pop-up__main__lang--svg {
  width: 67px;
  height: 33px;
  margin-right: 10px;
}

/*-------section About Me---------*/

.about {
  background: #ffffff;
  text-align: center;
  font-family: $mainFont;

  &__heading {
    font-weight: 300;
    font-size: 50px;
    color: $colorBlue;
    margin: 85px 50px 47px;
     @media screen and (max-width: 1300px) {
       font-size: 57px;
     }
     @media screen and (max-width: 425px) {
       font-size: 37px;
     }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 112px;
      @media screen and (max-width: 1300px) {
          font-size: 20px;
          line-height: 40px;
          padding: 0 50px 0;
        }
        @media screen and (max-width: 425px) {
          font-size: 16px;
          line-height: 32px;
          padding: 0 35px 0;
        }
  }
}

/*-------section Expert In---------*/

.expert {
  background: #f1f8ff;
  text-align: center;
  font-family: $mainFont;

  &__heading {
    color: $colorBlue;
    font-weight: 300;
    font-size: 50px;
    margin-bottom: 110px;
    padding-top: 83px;
    @media screen and (max-width: 1300px) {
      font-size: 57px;
    }
    @media screen and (max-width: 425px) {
      font-size: 37px;
      margin-bottom: 60px;
      padding-top: 35px;
    }
  }
}
.cards-expert {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (max-width: 1300px) {
    padding: 0 50px 0;
  }
   @media screen and (max-width: 425px) {
     padding: 0 35px 0;
   }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    padding: 15px;
    @media screen and (max-width: 1300px) {
      padding: 30px;
  }
   }
  &__img {
    border: 1px solid #b7c0c9;
    border-radius: 50%;
    width: 144px;
    height: 144px;

    &:hover {
      background: #ffff;
      transition: all .3s;
      border: 1px solid $colorBlue;
    }
  }
  &__heading {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: $colorBlue;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin: 32px auto 0;

    &:hover {
      color: #6094ff;
      transition: all .2s;
    }
    @media screen and (max-width: 425px) {
      font-size: 20px;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #5a5a5a;
    min-height: 135px;
    margin: 0 0 52px 0;
    @media screen and (max-width: 1300px) {
      font-size: 20px;
      line-height: 36px;
    }
    @media screen and (max-width: 425px) {
      font-size: 16px;
      line-height: 32px;
    }
  }

}
.cards-expert__ico {
  padding-top: 28%;
}

/*-------section Latest Works---------*/


